<p id="notice"><%= notice %></p>

<h1>Listing Meetings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr class="spaceUnder">

        <td><%= meeting.name %></td>
        
        <td><%= meeting.start_time %></td>
  
        <% current_user.meetings.each do |meet|%>
			
					<% if meeting == meet %>
		 			  
		 			  <td><button><%= link_to 'Show', meeting %></button></td>
        
       			<td><button ><%= link_to 'Edit', edit_meeting_path(meeting) %></button></td>
        
       			<td><button ><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
     
					<% end %>

				<% end %>

      </tr>

    <% end %>
  </tbody>
</table>

<br>
<button><%= link_to 'Back', root_path %></button>

