<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "calendar app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "New Event",    new_meeting_path %></li>
          <li><%= link_to "All Users Events",    '/meet' %></li>
          <li><%= link_to "Your Events",    '/meetings' %></li>
          <li><%= link_to "Edit Profile",    edit_user_registration_path %></li>
          <!-- <li><%= link_to "Exit",    destroy_user_session_path %></li> -->
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
        <% else %>
            
        <% end %>
        </ul>
    </nav>
  </div>
</header>